.custom-nav{
    background: #11103f;
}

header{
    height: 80vh;
}
.paralax{
    background-image: url(imges/paralax.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transform: scale(1.2);
    height: 20vh;
}
.title{
    color: #11103f;
}
.custom-card{
    box-shadow: 1px 2px 5px rgb(75, 75, 75);
    border-radius: 12px;
}
.custom-card img{
    height: 100px;
}
.btn-1{
    padding: 8px 20px;
    /* box-shadow: 1px 0px 5px rgb(145, 145, 145); */
    background: #11103f;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}