html{
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.custom-nav{
    background: hsl(241, 59%, 15%);
    width: 100%;
}
.logo{
    height: 40px;
    border-radius: 50%;
}

.row{
    margin: 0 !important;

}
.paralax{
    background-image: url(imges/paralax.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transform: scale(1.2);
    height: 20vh;
    width: 100vw;
}
.title{
    color: #11103f;
    text-align: center;
}
.custom-card{
    box-shadow: 1px 2px 5px rgb(75, 75, 75);
    border-radius: 12px;
    animation-delay: 1s;
}
.custom-card img{
    height: 100px;
}
.btn-1{
    padding: 8px 20px;
    /* box-shadow: 1px 0px 5px rgb(145, 145, 145); */
    background: #11103f;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}
/* // price section  */
#price-section img{
    height: 80px;
}
.small{
    font-size: 20px;
}
.custom-card-1{
    box-shadow: 1px 2px 10px 0px rgb(94 94 94);
    border-radius: 12px;
}

footer i{
    color: #11103f;
    transition: all .4s;
}
footer i:hover{
    color:  #6c63ff;
}